In [27]:
import pandas as pd, docx2txt
from io import StringIO
import os
import re

In [28]:
text = docx2txt.process ("C://Users/Bryant/Desktop/ACT_Project/ACT Math Sheets_v2/Absolute Values.docx")

In [29]:
text

'Absolute Values\n\n\n\nApril 2015\n\n1. |3(-2) + 4| = ?\n\n-2\n\n2\n\n5\n\n9\n\n10\n\nDecember 2015\n\n40. What is the set of real solutions for |x|2 - |x| - 2 = 0?\n\n{2}\n\n{-2, 2}\n\n{-1, 2}\n\n{1, 2}\n\n{-2, -1, 1, 2}\n\nJune 2016\n\n15. |6(-7) + 4(8)| = ?\n\n-144\n\n-10\n\n10\n\n74\n\n144\n\n54. The graphs of the functions y = f(x) = (x - 3)2 + 2 and y = g(x) = (½)x + (½) are shown in the standard (x,y) coordinate plane below. Which of the following is NOT true?\n\n*******picture******\n\n|f(x)| = f(x)\n\n|g(x)| = g(x)\n\nf(3) = g(3)\n\nf(3 ½ ) = g(3 ½ )\n\nf(g(1)) = 6\n\nApril 2016\n\n1. What is |5 - x| when x=9?\n\n-14\n\n-4\n\n4\n\n9\n\n14\n\nDecember 2016\n\n5. What is the value of 2|2 - 9| - 3(4 + 2)?\n\n-32\n\n-26\n\n-15\n\n-5\n\n-4\n\n45. For all real numbers a, b, and c, which of the following expressions is equal to |a - b - c|?\n\n|a + b + c|\n\n|a + b - c|\n\n|a - b + c|\n\n|-a +b + c|\n\n|-a - b - c|\n\n58. What is the minimum value of f(x) = | -(x - h)2 + k| - q for each set of positive real numbers, h, k, and q?\n\n-q\n\n-k\n\nK\n\n-k - q\n\nk - q\n\nJune 2017\n\n10. What is the value of |-6| - |7 - 41| ?\n\n-40\n\n-28\n\n28\n\n40\n\n54\n\nApril 2017\n\n15. What is the value of the expression below?\n\n\t\t| | -8 + 4 | - | 3 - 9 | |\n\n-18\n\n-2\n\n0\n\n2\n\n18\n\n40. The equation |2x - 8| + 3 = 5 has 2 solutions. Those solutions are equal to the solutions to which of the following pairs of equations?\n\n2x - 5 = 5\n-2x - 5 = -5\n\n2x - 8 = 2\n-2x - 8 = 2\n\n2x - 8 = 8\n-(2x - 8) = 8\n\n2x - 8 = 2\n-(2x - 8) = 8\n\n2x - 8 = 2\n-(2x - 8) = 2'

In [42]:
text_split = [line.split('\n') for line in StringIO(text).read().split('\n\n')]

In [43]:
text_split = [item for items in text_split for item in items]
text_split = [item for items]

In [110]:
text_split

['Absolute Values',
 '',
 'April 2015',
 '1. |3(-2) + 4| = ?',
 '-2',
 '2',
 '5',
 '9',
 '10',
 'December 2015',
 '40. What is the set of real solutions for |x|2 - |x| - 2 = 0?',
 '{2}',
 '{-2, 2}',
 '{-1, 2}',
 '{1, 2}',
 '{-2, -1, 1, 2}',
 'June 2016',
 '15. |6(-7) + 4(8)| = ?',
 '-144',
 '-10',
 '10',
 '74',
 '144',
 '54. The graphs of the functions y = f(x) = (x - 3)2 + 2 and y = g(x) = (½)x + (½) are shown in the standard (x,y) coordinate plane below. Which of the following is NOT true?',
 '*******picture******',
 '|f(x)| = f(x)',
 '|g(x)| = g(x)',
 'f(3) = g(3)',
 'f(3 ½ ) = g(3 ½ )',
 'f(g(1)) = 6',
 'April 2016',
 '1. What is |5 - x| when x=9?',
 '-14',
 '-4',
 '4',
 '9',
 '14',
 'December 2016',
 '5. What is the value of 2|2 - 9| - 3(4 + 2)?',
 '-32',
 '-26',
 '-15',
 '-5',
 '-4',
 '45. For all real numbers a, b, and c, which of the following expressions is equal to |a - b - c|?',
 '|a + b + c|',
 '|a + b - c|',
 '|a - b + c|',
 '|-a +b + c|',
 '|-a - b - c|',
 '58. What is the minimum value of f(x) = | -(x - h)2 + k| - q for each set of positive real numbers, h, k, and q?',
 '-q',
 '-k',
 'K',
 '-k - q',
 'k - q',
 'June 2017',
 '10. What is the value of |-6| - |7 - 41| ?',
 '-40',
 '-28',
 '28',
 '40',
 '54',
 'April 2017',
 '15. What is the value of the expression below?',
 '\t\t| | -8 + 4 | - | 3 - 9 | |',
 '-18',
 '-2',
 '0',
 '2',
 '18',
 '40. The equation |2x - 8| + 3 = 5 has 2 solutions. Those solutions are equal to the solutions to which of the following pairs of equations?',
 '2x - 5 = 5',
 '-2x - 5 = -5',
 '2x - 8 = 2',
 '-2x - 8 = 2',
 '2x - 8 = 8',
 '-(2x - 8) = 8',
 '2x - 8 = 2',
 '-(2x - 8) = 8',
 '2x - 8 = 2',
 '-(2x - 8) = 2']

In [185]:
for text in text_split[1:80]:
    match = re.search('^..[.]  | ^ .[.]', text)
    if match:
        print (match.group())

In [45]:
columns = ['year_month','question_num','question','A','B','C','D','E','F','G','H','I','J','K','L','M','N',]
df_absolute_values = pd.DataFrame(columns=columns, dtype='U')

In [46]:
df_absolute_values

Empty DataFrame
Columns: [year_month, question_num, question, A, B, C, D, E, F, G, H, I, J, K, L, M, N]
Index: []

In [47]:
line

'1. |3(-2) + 4| = ?'

In [50]:
for line in text_split:
    if re.search('(^.\. | ^..\. | ^.\) | ^..\))', line):
        print(2)
        if len(dummy_list) > 0:
            dummy_columns = columns[0:(len(dummy_list))]
            dummy_series = pd.Series(dummy_list)
            df_absolute_values.append(dummy_series,ignore_index=True)
            print(dummy_columns)
            print(dummy_list)
            
df_absolute_values

2
['year_month', 'question_num', 'question']
['Absolute Values', '', 'April 2015']
2
['year_month', 'question_num', 'question']
['Absolute Values', '', 'April 2015']
2
['year_month', 'question_num', 'question']
['Absolute Values', '', 'April 2015']

C:\Users\Bryant\Anaconda3\lib\site-packages\pandas\core\frame.py:5175: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  other.index).difference(self.columns).tolist()

Empty DataFrame
Columns: [year_month, question_num, question, A, B, C, D, E, F, G, H, I, J, K, L, M, N]
Index: []

In [39]:
test = pd.Series(dummy_list).transpose
test

<bound method IndexOpsMixin.transpose of 0    Absolute Values
1
2         April 2015
dtype: object>

In [40]:
     
df_absolute_values.append([test, df_absolute_values])

C:\Users\Bryant\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:87: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

,year_month,question_num,question,A,B,C,D,E,F,G,H,I,J,K,L,M,N,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<bound method IndexOpsMixin.transpose of 0 ...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Empty DataFrame Columns: [year_month, question..."

In [173]:
for text in text_split[1:80]:
    match = re.search('..\. | .\. | s', text)
    if match:
        print (match.group())

40.
15.
54.
45.
58.
10.
15.
40.

In [208]:
title = text_split[0]
full_list = []
new = []
for line in text_split[1:80]:
    if re.search('(^December|June|April|July)', line):
        date = line
    if re.search('^..\.', line):
        if len(new) > 0:
            full_list.append(new)
            new = []
        new.append(title)
        new.append(date)
        new.append(line)
        continue
    if re.search('^.\.', line):
        if len(new) > 0:
            full_list.append(new)
            new = []
        new.append(title)
        new.append(date)
        new.append(line)
        continue
    else:
        new.append(line)

In [209]:
full_list

[['', 'April 2015'],
 ['Absolute Values',
  'April 2015',
  '1. |3(-2) + 4| = ?',
  '-2',
  '2',
  '5',
  '9',
  '10',
  'December 2015'],
 ['Absolute Values',
  'December 2015',
  '40. What is the set of real solutions for |x|2 - |x| - 2 = 0?',
  '{2}',
  '{-2, 2}',
  '{-1, 2}',
  '{1, 2}',
  '{-2, -1, 1, 2}',
  'June 2016'],
 ['Absolute Values',
  'June 2016',
  '15. |6(-7) + 4(8)| = ?',
  '-144',
  '-10',
  '10',
  '74',
  '144'],
 ['Absolute Values',
  'June 2016',
  '54. The graphs of the functions y = f(x) = (x - 3)2 + 2 and y = g(x) = (½)x + (½) are shown in the standard (x,y) coordinate plane below. Which of the following is NOT true?',
  '*******picture******',
  '|f(x)| = f(x)',
  '|g(x)| = g(x)',
  'f(3) = g(3)',
  'f(3 ½ ) = g(3 ½ )',
  'f(g(1)) = 6',
  'April 2016'],
 ['Absolute Values',
  'April 2016',
  '1. What is |5 - x| when x=9?',
  '-14',
  '-4',
  '4',
  '9',
  '14',
  'December 2016'],
 ['Absolute Values',
  'December 2016',
  '5. What is the value of 2|2 - 9| - 3(4 + 2)?',
  '-32',
  '-26',
  '-15',
  '-5',
  '-4'],
 ['Absolute Values',
  'December 2016',
  '45. For all real numbers a, b, and c, which of the following expressions is equal to |a - b - c|?',
  '|a + b + c|',
  '|a + b - c|',
  '|a - b + c|',
  '|-a +b + c|',
  '|-a - b - c|'],
 ['Absolute Values',
  'December 2016',
  '58. What is the minimum value of f(x) = | -(x - h)2 + k| - q for each set of positive real numbers, h, k, and q?',
  '-q',
  '-k',
  'K',
  '-k - q',
  'k - q',
  'June 2017'],
 ['Absolute Values',
  'June 2017',
  '10. What is the value of |-6| - |7 - 41| ?',
  '-40',
  '-28',
  '28',
  '40',
  '54',
  'April 2017'],
 ['Absolute Values',
  'April 2017',
  '15. What is the value of the expression below?',
  '\t\t| | -8 + 4 | - | 3 - 9 | |',
  '-18',
  '-2',
  '0',
  '2',
  '18']]

In [23]:
df_absolute_values

Empty DataFrame
Columns: [year_month, question_num, question, A, B, C, D, E, F, G, H, I, J, K, L, M, N]
Index: []

In [24]:
(dummy_columns)

['year_month', 'question_num', 'question']

In [25]:
(dummy_list)

['Absolute Values', '', 'April 2015']

In [26]:
dummy_columns

['year_month', 'question_num', 'question']